Repository motivation-zone/db-service: changes, and which lint-staged commands are due for each by the changed paths.
All: make lint.main, make lint.tests, make test.func

fix contributing.md
  CONTRIBUTING.md
Due: make test.func

MOTIVATIONZONE-19
  Makefile
  migration/bought-program.pgsql
  migration/concat.js
  migration/exercise.pgsql
  migration/extensions.pgsql
  migration/program.pgsql
  migration/result.pgsql
  migration/training-type.pgsql
  migration/training.pgsql
  migration/user-program-saved.pgsql
  migration/user-sport.pgsql
  migration/user.pgsql
  src/controllers/user.ts
  src/models/exercise-template.ts
  src/models/exercise.ts
  src/models/link/user-sport.ts
  src/models/user.ts
  src/services/exercise-template.ts
  src/services/exercise.ts
  src/services/user.ts
  tests/func/exercise-template.test.ts
  tests/func/exercise.test.ts
  tests/func/user.test.ts
  tests/helpers/exercise-template.ts
  tests/helpers/exercise.ts
  tests/helpers/sport.ts
  tests/helpers/user.ts
Due: make lint.main, make lint.tests, make test.func

MOTIVATIONZONE-19 Прикрутить uuid
  CONTRIBUTING.md
  Makefile
  migration/bought-program.pgsql
  migration/concat.js
  migration/exercise.pgsql
  migration/extensions.pgsql
  migration/program.pgsql
  migration/result.pgsql
  migration/training-type.pgsql
  migration/training.pgsql
  migration/user-program-saved.pgsql
  migration/user-sport.pgsql
  migration/user.pgsql
  src/controllers/user.ts
  src/models/exercise-template.ts
  src/models/exercise.ts
  src/models/link/user-sport.ts
  src/models/user.ts
  src/services/exercise-template.ts
  src/services/exercise.ts
  src/services/user.ts
  tests/func/exercise-template.test.ts
  tests/func/exercise.test.ts
  tests/func/user.test.ts
  tests/helpers/exercise-template.ts
  tests/helpers/exercise.ts
  tests/helpers/sport.ts
  tests/helpers/user.ts
Due: make lint.main, make lint.tests, make test.func

remove result.pgsql
  .gitignore
  migration/result.pgsql
Due: make test.func

add difficuly-level
  migration/country.pgsql
  migration/difficulty-level.pgsql
  migration/exercise.pgsql
  migration/sport.pgsql
  migration/user-sport.pgsql
  migration/user.pgsql
  src/controllers/exercise-template.ts
  src/controllers/exercise.ts
  src/models/exercise-template.ts
  src/models/exercise.ts
  src/query-creators/exercise-template.ts
  src/query-creators/exercise.ts
  src/services/exercise-template.ts
  src/services/exercise.ts
  tests/func/exercise-template.test.ts
  tests/func/exercise.test.ts
  tests/func/fill/index.ts
  tests/func/user.test.ts
  tests/helpers/exercise-template.ts
  tests/helpers/exercise.ts
Due: make lint.main, make lint.tests, make test.func

fix
  src/services/exercise-template.ts
  tests/func/exercise-template.test.ts
  tests/func/exercise.test.ts
Due: make lint.main, make lint.tests, make test.func

MOTIVATIONZONE-22 Добавить difficulty-level к exercise-template
  .gitignore
  migration/country.pgsql
  migration/difficulty-level.pgsql
  migration/exercise.pgsql
  migration/result.pgsql
  migration/sport.pgsql
  migration/user-sport.pgsql
  migration/user.pgsql
  src/controllers/exercise-template.ts
  src/controllers/exercise.ts
  src/models/exercise-template.ts
  src/models/exercise.ts
  src/query-creators/exercise-template.ts
  src/query-creators/exercise.ts
  src/services/exercise-template.ts
  src/services/exercise.ts
  tests/func/exercise-template.test.ts
  tests/func/exercise.test.ts
  tests/func/fill/index.ts
  tests/func/user.test.ts
  tests/helpers/exercise-template.ts
  tests/helpers/exercise.ts
Due: make lint.main, make lint.tests, make test.func

MOTIVATIONZONE-23 упрощенная логика фильрации через WHERE
  deploy/README.md
  deploy/configs/nginx.template.conf
  deploy/configs/supervisord.template.conf
  migration/exercise.pgsql
  migration/extensions.pgsql
  src/query-creators/exercise-template.ts
  src/query-creators/exercise.ts
  src/services/exercise-template.ts
  src/services/exercise.ts
  src/utils/db/helper.ts
Due: make lint.main, make test.func

testing docker
  .travis.yml
  Dockerfile
  Makefile
  deploy/README.md
  deploy/config-templates/nginx.template.conf
  deploy/config-templates/supervisord.template.conf
  deploy/start.sh
Due: make test.func

wip
  .travis.yml
  CONTRIBUTING.md
  DEPLOY.md
  Dockerfile
  Makefile
  deploy/README.md
  docker-compose.yml
Due: make test.func

add deploy commands
  DEPLOY.md
  Dockerfile
  Makefile
  README.md
  deploy/deploy-testing.js
  deploy/docker/config-templates/nginx.template.conf
  deploy/docker/config-templates/supervisord.template.conf
  deploy/docker/start.sh
  docs/API.md
  docs/CONTRIBUTING.md
  docs/DEPLOY.md
  docs/INFO.md
  docs/SERVICES.md
Due: make test.func

MOTIVATIONZONE-20 Deploy
  Dockerfile
  Makefile
  README.md
  deploy/deploy-testing.js
  deploy/docker/config-templates/nginx.template.conf
  deploy/docker/config-templates/supervisord.template.conf
  deploy/docker/start.sh
  docker-compose.yml
  docs/API.md
  docs/CONTRIBUTING.md
  docs/DEPLOY.md
  docs/INFO.md
  docs/SERVICES.md
  migration/exercise.pgsql
  migration/extensions.pgsql
  src/query-creators/exercise-template.ts
  src/query-creators/exercise.ts
  src/services/exercise-template.ts
  src/services/exercise.ts
  src/utils/db/helper.ts
Due: make lint.main, make test.func

add catch in fill.tests
  tests/func/fill/index.ts
Due: make lint.tests, make test.func

fix docs
  docs/DEPLOY.md
  docs/INFO.md
Due: make test.func

fix readme
  README.md
Due: make test.func

add first api generator
  Makefile
  docs/API.md
  package.json
  src/controllers/sport.interface.ts
  src/controllers/user.interface.ts
  src/models/link/user-sport.interface.ts
  src/models/user.interface.ts
  tools/api-doc.ts
  tools/create-api-doc.ts
  tsconfig.json
Due: make lint.main, make test.func

wip
  docs/API.md
  src/controllers/country.interface.ts
  src/controllers/difficulty-level.interface.ts
  src/models/country.interface.ts
  src/models/difficulty-level.interface.ts
  tools/api-doc.ts
  tools/create-api-doc.ts
Due: make lint.main, make test.func

wip
  docs/API.md
  tools/create-api-doc.ts
Due: make test.func

wip
  Makefile
  docs/API.md
  package-lock.json
  package.json
  src/controllers/country.interface.ts
  src/controllers/difficulty-level.interface.ts
  src/controllers/sport.interface.ts
  src/controllers/user.interface.ts
  src/controllers/сountry.ts
  src/models/country.interface.ts
  src/models/country.ts
  src/services/base.ts
  tools/api-doc.ts
  tools/create-api-doc.ts
  tools/jsdoc-parser.ts
Due: make lint.main, make test.func

wip
  docs/API.md
Due: make test.func

wip
  docs/API.md
  src/controllers/difficulty-level.interface.ts
  src/controllers/difficulty-level.ts
  src/controllers/exercise-template.ts
  src/controllers/exercise.ts
  src/controllers/sport.interface.ts
  src/controllers/sport.ts
  src/controllers/user.interface.ts
  src/controllers/user.ts
  src/models/country.ts
  src/models/difficulty-level.interface.ts
  src/models/difficulty-level.ts
  src/models/exercise-template.ts
  src/models/exercise.ts
  src/models/link/user-sport.interface.ts
  src/models/link/user-sport.ts
  src/models/sport.ts
  src/models/user.interface.ts
  src/models/user.ts
  tools/create-api-doc.ts
Due: make lint.main, make test.func

MOTIVATIONZONE-16 Api generator
  Makefile
  docs/API.md
  package-lock.json
  package.json
  src/controllers/difficulty-level.ts
  src/controllers/exercise-template.ts
  src/controllers/exercise.ts
  src/controllers/sport.ts
  src/controllers/user.ts
  src/controllers/сountry.ts
  src/models/country.ts
  src/models/difficulty-level.ts
  src/models/exercise-template.ts
  src/models/exercise.ts
  src/models/link/user-sport.ts
  src/models/sport.ts
  src/models/user.ts
  src/services/base.ts
  tools/create-api-doc.ts
  tools/jsdoc-parser.ts
  tsconfig.json
Due: make lint.main, make test.func

Rewrite api-generator
  .lintstagedrc.json
  @types/json2yaml.d.ts
  Makefile
  docs/API.md
  docs/CONTRIBUTING.md
  docs/swagger-ui/favicon-16x16.png
  docs/swagger-ui/favicon-32x32.png
  docs/swagger-ui/index.html
  docs/swagger-ui/oauth2-redirect.html
  docs/swagger-ui/swagger-ui-bundle.js
  docs/swagger-ui/swagger-ui-bundle.js.map
  docs/swagger-ui/swagger-ui-standalone-preset.js
  docs/swagger-ui/swagger-ui-standalone-preset.js.map
  docs/swagger-ui/swagger-ui.css
  docs/swagger-ui/swagger-ui.css.map
  docs/swagger-ui/swagger-ui.js
  docs/swagger-ui/swagger-ui.js.map
  docs/swagger.json
  docs/swagger.yml
  package-lock.json
  package.json
  src/controllers/difficulty-level.ts
  src/controllers/exercise-template.ts
  src/controllers/exercise.ts
  src/controllers/sport.ts
  src/controllers/user.ts
  src/controllers/сountry.ts
  src/models/country.ts
  src/models/difficulty-level.ts
  src/models/exercise-template.ts
  src/models/exercise.ts
  src/models/link/user-sport.ts
  src/models/sport.ts
  src/models/user.ts
  src/urls.ts
  tools/api-generator/generate.ts
  tools/api-generator/jsdoc-parser.ts
  tools/create-api-doc.ts
  tools/jsdoc-parser.ts
Due: make lint.main, make test.func

add auth
  Makefile
  deploy/deploy-testing.js
  docs/CONTRIBUTING.md
  docs/DEPLOY.md
  docs/INFO.md
  package-lock.json
  package.json
  src/app.ts
  src/lib/auth-token.ts
  tests/helpers/common.ts
  tools/generate-token.ts
Due: make lint.main, make lint.tests, make test.func

MOTIVATIONZONE-24 add auth
  Makefile
  deploy/deploy-testing.js
  docs/CONTRIBUTING.md
  docs/DEPLOY.md
  docs/INFO.md
  package-lock.json
  package.json
  src/app.ts
  src/lib/auth-token.ts
  tests/helpers/common.ts
  tools/generate-token.ts
Due: make lint.main, make lint.tests, make test.func

add stress tests
  .dockerignore
  .gitignore
  .lintstagedrc.json
  Dockerfile.stress
  Makefile
  deploy/docker/main/config-templates/nginx.template.conf
  deploy/docker/main/config-templates/supervisord.template.conf
  deploy/docker/main/start.sh
  deploy/docker/stress/config-templates/nginx.template.conf
  deploy/docker/stress/config-templates/supervisord.template.conf
  deploy/docker/stress/start.sh
  docs/CONTRIBUTING.md
  docs/DEPLOY.md
  docs/SERVICES.md
  package-lock.json
  package.json
  src/lib/logger/file-logger.ts
  tests/const.ts
  tests/fill/index.ts
  tests/helpers/exercise.ts
  tests/load/fill.ts
  tests/load/load.ts
  tests/stress/ammo-generator.ts
  tests/stress/config.yaml
  tools/database/pgsql-concat.js
Due: make lint.main, make lint.tests, make test.func

wip
  .gitignore
  Makefile
  docs/CONTRIBUTING.md
  src/lib/db/client.ts
Due: make lint.main, make test.func

wip
  Makefile
  docs/CONTRIBUTING.md
  src/lib/db/client.ts
  src/query-creators/exercise.ts
  tests/const.ts
  tests/fill/index.ts
  tests/helpers/user.ts
  tests/stress/ammo-generator.ts
  tests/stress/config.yaml
Due: make lint.main, make lint.tests, make test.func

wip
  migration/exercise.pgsql
  migration/user.pgsql
  src/lib/db/client.ts
  tests/const.ts
  tests/stress/config.yaml
Due: make lint.main, make lint.tests, make test.func

wip
  .dockerignore
  .gitignore
  .lintstagedrc.json
  @types/logger.d.ts
  Dockerfile
  Dockerfile.stress
  Makefile
  Makefile.ts
  deploy/deploy-testing.ts
  deploy/docker/stress/config-templates/nginx.template.conf
  docs/CONTRIBUTING.md
  package-lock.json
  package.json
  src/lib/db/client.ts
  src/lib/logger/console-logger.ts
  src/lib/logger/file-logger.ts
  src/lib/logger/index.ts
  src/lib/logger/progress-bar.ts
  tests/fill/const.ts
  tests/fill/index.ts
  tests/func/country.test.ts
  tests/func/difficulty-level.test.ts
  tests/func/sport.test.ts
  tests/stress/ammo-generator.ts
  tests/stress/config.yaml
  tests/stress/fire.ts
  tools/api-generator/generate.ts
  tools/database/pgsql-concat.ts
  tools/generate-token.ts
  tsconfig.json
Due: make lint.main, make lint.tests, make test.func

wip
  .lintstagedrc.json
Due: make test.func

rewrite stress test logic
  .dockerignore
  .gitignore
  @types/db-client.d.ts
  Dockerfile.stress
  Makefile
  Makefile.ts
  deploy/deploy-testing.js
  deploy/deploy-testing.ts
  deploy/docker/main/start.sh
  deploy/docker/stress/config-templates/nginx.template.conf
  deploy/docker/stress/start.sh
  docs/CONTRIBUTING.md
  docs/DEPLOY.md
  package-lock.json
  package.json
  src/lib/db/client.ts
  src/lib/logger/file-logger.ts
  src/lib/logger/progress-bar.ts
  src/lib/logger/query-logger.ts
  tests/fill/const.ts
  tests/fill/index.ts
  tests/stress/ammo-generator.ts
  tests/stress/fire.ts
Due: make lint.main, make lint.tests, make test.func

fix
  .lintstagedrc.json
  tests/stress/ammo-generator.ts
Due: make lint.tests, make test.func

remove supertest
  Makefile.ts
  docs/CONTRIBUTING.md
  package-lock.json
  package.json
  src/lib/logger/console-logger.ts
  src/utils/http/request.ts
  tests/fill/const.ts
  tests/fill/index.ts
  tests/func/country.test.ts
  tests/helpers/common.ts
  tsconfig.json
Due: make lint.main, make lint.tests, make test.func

MOTIVATIONZONE-28
  .dockerignore
  .gitignore
  Makefile.ts
  deploy/docker/stress/start.sh
  docs/CONTRIBUTING.md
  docs/INFO.md
  docs/swagger.json
  migration/exercise.pgsql
  src/lib/db/client.ts
  src/lib/logger/file-logger.ts
  src/lib/logger/index.ts
  src/lib/logger/query-logger.ts
  tests/stress/config.yaml
Due: make lint.main, make test.func

Path conditions:
  make lint.main: any of: src/**/*.ts
  make lint.tests: any of: tests/**/*.ts
  make test.func: any of: *
